[Unit]
Description=Cycle sending temperature information
Requires=corepvt.service

[Timer]
OnBootSec=10s
OnUnitActiveSec=3s
AccuracySec=3s
RandomizedDelaySec=0
Persistent=yes
Unit=corepvt.service

[Install]
WantedBy=timers.target

